---
client: Megamac
title: We worked with MEGAMAC to <strong>improve the <abbr title="User Experience">UX</abbr></strong> across their shop, checkout and account area.
category: UI / UX Design
date: 18/03/2016 22:57
---

.l-grid---MQdesktop.l-grid--gutter---MQdesktop
  .l-grid__span--6---MQdesktop.l-light.c-section
    .c-panel
      .c-panel__body
        %h3.c-panel__title Test &amp; Iterate
        .c-copy.c-copy--emphasised.c-copy--adjacent
          %p Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
      .c-section__header.l-subtle
        .c-media
          .c-media__figure
            = ui_svg "coffee", 56
          .c-media__body
            .c-copy.c-copy--emphasised.c-copy--adjacent
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat mollitia.



  .l-grid__span--6---MQdesktop.l-light.c-section
    .c-panel
      .c-panel__body
        %h3.c-panel__title Development to Production
        .c-copy.c-copy--emphasised.c-copy--adjacent.copy--downsize
          %p Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at.
      .c-section__header.l-subtle
        .c-media
          .c-media__figure
            = ui_svg "coffee", 56
          .c-media__body
            .c-copy.c-copy--emphasised.c-copy--adjacent.copy--downsize
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores doloremque.


.l-grid---MQdesktop.l-grid--gutter---MQdesktop
  .l-grid__span--4---MQdesktop.l-light.c-section
    = image_tag "#{gulp_image_path('projects/megamac/1.png')}", srcset: "#{gulp_image_path('projects/megamac/1@2x.png')} 2x", alt: "Mobile view of Megamac site", class: "l-max"

  .l-grid__span--4---MQdesktop.l-subtle.c-section
    = image_tag "#{gulp_image_path('projects/megamac/2.png')}", srcset: "#{gulp_image_path('projects/megamac/2@2x.png')} 2x", alt: "Mobile view of Megamac site", class: "l-center l-max"

  .l-grid__span--4---MQdesktop.l-light.c-section
    .c-panel__body
      %h2.c-panel__title Great UX on any device
      .c-copy.c-copy--emphasised.c-copy--adjacent.copy--downsize
        %p We created a great user experience across devices of any size. Images play a key role but can impact performce if not handled correctly; we use reponsive images to only load the image size we need.


.l-subtle.c-section
  .l-grid---MQdesktop
    .l-grid__span--4---MQdesktop.c-panel
      .c-panel__body
        %h2.c-panel__title Inspired by Apple
        .c-copy.c-copy--emphasised
          %p Key areas of the site are designed to resemble Apple’s site. Emphasis was placed on typography and imagery to reflect the attention to detail for which Apple is known.
          %p The target audience consists of people who are tech savvy, capable, internet users. This allowed us to use modern web technologies such a REMs for fonts and Flexbox for layout.
        = link_to "Visit project", "#", class: "c-button c-button--tertiary"
    .l-grid__span--8---MQdesktop
      .c-post.c-post--adjacent
        .c-post__mainimage
          = image_tag "#{gulp_image_path('projects/megamac/highlight.png')}", srcset: "#{gulp_image_path('projects/megamac/highlight@2x.png')} 2x", alt: "Screenshot of MEGAMAC"
