---
client: Rail Modeller
title: We worked with Rail Modeller to <strong>refresh the <abbr title="User Interface">UI</abbr></strong> of their OSX app and improve usability
category: UI / UX Design
date: 18/03/2016 22:57
---

.l-bordered.l-subtle
  .c-post.c-post--adjacent
    .l-leading.l-center
      %h1.c-post__title= current_page.title

      %figure.c-post__mainimage.will-animate.fadeIn
        = image_tag "#{gulp_image_path('projects/rail-modeller/main.png')}", srcset: "#{gulp_image_path('projects/rail-modeller/main@2x.png')} 2x", alt: "Rail Modeller UI menu overview", class: "o-highlight-image"

        = image_tag "#{gulp_image_path('projects/rail-modeller/3.png')}", srcset: "#{gulp_image_path('projects/rail-modeller/3@2x.png')} 2x", alt: "Exmaple of a Rail Modeller side panel UI", class: "o-highlight-image"


.l-module
  .c-section.c-section--last.l-light.l-bordered
    .l-grid---MQdesktop.l-grid--lines
      .l-grid__span--6---MQdesktop
        .c-panel
          .c-panel__body.c-panel__body--apart
            %h3.c-panel__title Simplifying Complex Interactions
            .c-copy.c-copy--adjacent
              %p Rail Modeller is a an OSX application and as such <b>doens't have a linear flow</b>. We worked to <b>simplify the interactions</b> required to produce complex interaction. Examples include choosing a part library, picking a track piece and setting a gradient. We split the canvas into an (optional) orthographic view to give context.


      .l-grid__span--6---MQdesktop
        .c-panel
          .c-panel__body.c-panel__body--apart
            %h3.c-panel__title Affordances and Predictability
            .c-copy.c-copy--adjacent.copy--downsize
              %p We introcuced a more <b>consistent menu system with iconography</b> that more <b>clearly indicated</b> the action which it represents. We used graphics programs as the basis as the tasks are fairly similar. We reduced any misinterpresation by introducing tooltips with links to relevant sections in the help.

.l-inner
  .l-grid.l-grid--gutter
    .l-grid__span--4.l-module
      .o-embed.o-embed--square
        .o-embed__content
          .l-light.c-section.c-section--inset.l-bordered---MQmobile
            = link_to gulp_image_path('projects/rail-modeller/1@2x.png') do
              = image_tag "#{gulp_image_path('projects/rail-modeller/1.png')}", srcset: "#{gulp_image_path('projects/rail-modeller/1@2x.png')} 2x", alt: "Example of a Rail Modeller color-picker interface", class: "l-max"

    .l-grid__span--4.l-module
      .o-embed.o-embed--square
        .o-embed__content
          .l-subtle.c-section.c-section--inset.l-bordered---MQmobile
            = link_to gulp_image_path('projects/rail-modeller/7@2x.png') do
              = image_tag "#{gulp_image_path('projects/rail-modeller/7.png')}", srcset: "#{gulp_image_path('projects/rail-modeller/7@2x.png')} 2x", alt: "Part of the Rail Modeller style-guide deliverable", class: "l-center l-max"

    .l-grid__span--4.l-module
      .o-embed.o-embed--square
        .o-embed__content
          .l-subtle.c-section.c-section--inset.l-bordered---MQmobile
            = link_to gulp_image_path('projects/rail-modeller/4@2x.png') do
              = image_tag "#{gulp_image_path('projects/rail-modeller/4.png')}", srcset: "#{gulp_image_path('projects/rail-modeller/4@2x.png')} 2x", alt: "A laptop with a picture of the Rail Modeller app running", class: "l-center l-max"


.l-module---MQhd
  .c-section.c-section--first.c-section--last
    = link_to gulp_image_path('projects/rail-modeller/6@2x.png') do
      %picture
        %source{media: "(max-width: 47.9375em)", srcset: "#{gulp_image_path('projects/rail-modeller/6-small.png')}"}
        = image_tag "#{gulp_image_path('projects/rail-modeller/6.png')}", srcset: "#{gulp_image_path('projects/rail-modeller/6@2x.png')} 2x", alt: "A complete view of the Rail Modeller interface", class: "l-center l-max"

-# .l-subtle.c-section
-#   .c-panel.c-panel--adjacent.l-bordered---MQmobile
-#     .c-panel__body
-#       %h2.c-panel__title Overhaulling the inventory UI
-#       .l-grid---MQdesktop.l-grid--baseline.l-grid--gutter2x
-#         .l-grid__span--4---MQdesktop
-#           .c-copy
-#             %p One of the key areas that needed improvement was the invetory; the area where users can collate the pieces they have used while building.
-#             %p We made it <b>simple and straight-forward</b> to toggle between specific information about the canvas as well as give users the ability to create a shopping list and export <b>using conventional OSX interface elements</b>; the goal being to make the application <b>more accessible to non-technical people</b>.

-#           -# = link_to "Download on the App Store", "#", class: "c-button c-button--tertiary l-module"

-#         .l-grid__span--8---MQdesktop
-#           = link_to "#{gulp_image_path('projects/rail-modeller/highlight@2x.png')}", target: "_blank", class: "c-post__mainimage" do
-#             = image_tag "#{gulp_image_path('projects/rail-modeller/highlight.png')}", srcset: "#{gulp_image_path('projects/rail-modeller/highlight@2x.png')} 2x", alt: "Screenshot of MEGAMAC"



-# .l-bordered.l-subtle.l-fullheight
-#   .c-post__mainimage.o-image-rotate
-#     = image_tag "#{gulp_image_path('projects/rail-modeller/highlight.png')}", srcset: "#{gulp_image_path('projects/rail-modeller/highlight@2x.png')} 2x", alt: "Screenshot of MEGAMAC"

-#   .c-post.c-post--adjacent
-#     .l-leading.l-center
-#       .h-align-center
-#         %h2.c-panel__title Overhaulling the inventory UI
-#       .c-copy.c-copy--columns.l-module
-#         %p One of the key areas that needed improvement was the invetory; the area where users can collate the pieces they have used while building.
-#         %p We made it <b>simple and straight-forward</b> to toggle between specific information about the canvas as well as give users the ability to create a shopping list and export <b>using conventional OSX interface elements</b>; the goal being to make the application <b>more accessible to non-technical people</b>

%section.c-section.c-section--first
  .l-bordered---MQmobile.l-subtle
    .c-panel.c-panel--adjacent
      .c-panel__body
        .l-leading.l-center.h-align-center
          %h1.c-panel__title Reinventing the Inventory
          .c-copy.c-copy--intro
            %p One of the key areas that needed improvement was the inventory; the area where users can view the pieces they have used while building.
        .c-post__mainimage.c-post__mainimage--static
          %figure{"data-wow-delay" => "0.5s"}
            = image_tag "#{gulp_image_path('projects/rail-modeller/highlight.png')}", srcset: "#{gulp_image_path('projects/rail-modeller/highlight@2x.png')} 2x", alt: "Screenshot of MEGAMAC", class: "o-highlight-image o-highlight-image--full o-raise-image"

    .c-panel
      .c-panel__body
        .l-leading.l-center
          .c-copy
            %p We made it <b>simple and straight-forward</b> to toggle between specific information about the canvas as well as give users the ability to create a shopping list and export <b>using conventional OSX interface elements</b>. The goal was always to make the application <b>more accessible to non-technical people.</b>
