!!!
%html.no-js{lang: "en"}

  %head
    %meta{charset: "utf-8"}

    - if defined? current_page.data.title
      %title= current_page.data.title + " &mdash; " + data.site.name
    - else
      %title= data.site.name + " &mdash; " + data.site.title

    - if defined? current_page.data.description
      %meta{name: "description", content: current_page.data.description}

    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "HandheldFriendly", content: "true"}
    %meta{name: "format-detection", content: "telephone=no"}

    = partial "partials/favicon"

    -# Application Stylesheet
    = stylesheet_link_tag "app"
    = stylesheet_link_tag "//fast.fonts.net/cssapi/09fd0c05-177d-4a2b-9fcd-f4ec85499026.css"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic"

    -if content_for? :head
      = yield_content :head

    -# Picture element HTML5 shiv
    :javascript
      document.createElement( 'picture' );

    = partial 'partials/script_modernizr'

  %body#top
    %a#skiplink{href: "#content", aria: {label: "Skip to main content"}} Skip to content

    %header
      .l-constrained
        - if content_for? :header
          .c-section
            .l-light
              .c-section__header
                = partial "partials/navigation"
              = yield_content :header

        - else
          .c-section.c-section--first
            .l-light
              .c-section__header
                = partial "partials/navigation"


    #content{role: "main", tabindex:-1}
      .l-constrained
        = yield

    = partial 'partials/footer'

    -# Load jQuery from Google
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"

    -# If Google fails to deliver jQuery, load our local copy
    :javascript
      window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')

    -# Test for mix-blend-mode
    :javascript
      if('CSS' in window && 'supports' in window.CSS) {
        var support = window.CSS.supports('mix-blend-mode','multiply');
            support = support?'mixblendmode':'no-mixblendmode';
            $('html').addClass(support);
      }


    -# Load all the other scripts
    = javascript_include_tag "app"

    -# Load SVG icon sprites
    = javascript_include_tag "https://file.myfontastic.com/EEco26jhFrTTtf67eq7Cgd/icons.js", async: true

    -# Google Tag Manager
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T3C5WS"height="0" width="0"style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-T3C5WS');</script>

    = javascript_include_tag "picturefill.min.js", async: true

    - if content_for? :scripts
      = yield_content :scripts
