!!!
%html.no-js{lang: "en"}

  %head
    %meta{charset: "utf-8"}

    - if exists? current_page.data.title
      %title= current_page.data.title + " &mdash; " + data.site.name
    - else
      %title= data.site.name + " &mdash; " + data.site.title

    - if exists? current_page.data.description
      %meta{name: "description", content: current_page.data.description}

    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "HandheldFriendly", content: "true"}

    -# Stylesheet must come before inline javascript
    = stylesheet_link_tag "app"

    = javascript_include_tag "picturefill.min.js", async: true, defer: true

    -if content_for? :head
      = yield_content :head

    -# Picture element HTML5 shiv
    :javascript
      document.createElement( 'picture' );

    = partial 'partials/script_modernizr'
    = partial 'partials/script_typekit'

  %body{class: page_classes}
    %a#skiplink{href: "#content", aria: {label: "Skip to main content"}} Skip to content

    -# = partial 'partials/header'

    #content{role: "main", tabindex:-1}
      = yield

    -# = partial 'partials/footer'

    -# Load jQuery from Google
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"

    -# If Google fails to deliver jQuery, load our local copy
    :javascript
      window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')

    -# Load all the other scripts
    = javascript_include_tag "app"

    -# Load SVG icon sprites
    = javascript_include_tag "https://file.myfontastic.com/EEco26jhFrTTtf67eq7Cgd/icons.js", async: true

    - if content_for? :scripts
      = yield_content :scripts