= wrap_layout :layout do
  .c-section.c-section--last.c-section--adjacent
    .l-light.l-bordered
      %article{itemscope: true, :itemtype => "http://schema.org/BlogPosting"}
        .l-leading.l-center
          .c-post
            %header
              .c-post__header
                .c-post__meta
                  = partial "partials/time", locals: { data: current_page }
                %h1.o-title= current_page.title
                -# - if defined?(current_page.data.category)
                -#   .c-post__meta
                -#     - current_page.data.category.each do |tag|
                -#       .o-tag= tag
            .c-post__body{:itemprop => "articleBody"}
              - if defined? current_page.data.tldr
                .c-synopsis
                  -# %h5.c-synopsis__title In Brief
                  %p= current_page.data.tldr

              .c-copy
                = yield

  -# .c-section
  -#   = partial "partials/related-articles"

  .c-section
    = partial "partials/twitter"

  .c-section
    = partial "partials/contact", locals: { title: "Enjoy this? Hire us! We're currently accepting new projects" }
