= wrap_layout :layout do
  .c-section.c-section--last.c-section--adjacent
    .l-light.l-bordered
      %article{itemscope: true, :itemtype => "http://schema.org/BlogPosting"}
        .l-leading
          .c-post
            %header
              .c-post__header
                %h1.o-title= current_page.title
                .c-post__meta
                  .o-tag= current_page.data.category
                .c-post__meta
                  = partial "partials/time", locals: { data: current_page }
            .c-post__body{:itemprop => "articleBody"}
              - if defined? current_page.data.tldr
                .c-notice
                  %h5.c-notice__title In Brief
                  %p= current_page.data.tldr

              .c-copy
                = yield

  .c-section
    = partial "partials/related-articles"

  .c-section
    = partial "partials/contact", locals: { twitter: true, title: "Enjoy this? Hire us! We're currently accepting new projects" }
