= wrap_layout :layout do
  .c-section
    .l-light
      = partial "partials/navigation-post"

      %article{itemscope: true, :itemtype => "http://schema.org/BlogPosting"}
        .l-constrained
          .l-leading
            %header
              %h1.o-title= current_page.title
            .c-copy{:itemprop => "articleBody"}
              = yield

  .c-section
    = partial "partials/related-articles"

  .c-section
    = partial "partials/contact"