- content_for :header do
  = partial 'partials/logo'
  = partial "partials/navigation", locals: { data: data.site.nav, collapsible: true }

= wrap_layout :layout do
  .l-light
    .l-inside
      %header
        .l-constrained
          %h1= current_page.data.title


      .l-constrained
        = yield