%nav#top
  %button#navigationbutton.o-navigation.c-button.c-button--seamless.c-button--next{type: "button", data: {toggle: "navigation"}}
    .h-accessible Menu
    = ui_svg "menu", 28

  = link_to "/" do
    = ui_svg "simple-bit-logo", 48

  %ul#navigation.c-navigation
    %li
      = link_to "Home", "#", class: "c-navigation__text"
    %li
      = link_to "About", "#", class: "c-navigation__text"
    %li
      = link_to "Articles", "#", class: "c-navigation__text"
    %li
      = link_to "Services", "#", class: "c-navigation__text"
    %li
      = link_to "Contact", "#contact", class: "c-navigation__text"