- modifier = modifier || nil
- logo_mod = (current_page.url == "/" ? "o-logo--light" : nil)
- env = (current_page.url == "/" ? "" : config[:environment])
- root = data.site.url["#{env}"]

%nav
  .l-constrained
    .l-split---MQtablet
      .l-split
        = link_to "/", class: "o-logo #{logo_mod}",  data: { consolidate: "home" } do
          = sprite "simplebitdesign"

        = partial "partials/menu-icon"

      %ul#navigation.c-navigation{class: modifier}
        - data.site.navigation.each_with_index do |nav, index|
          %li{class: "c-navigation__#{nav.anchor.downcase}", "data-toggle" => "navigation" }

            - href = (nav.in_page ? nav.href : "#{root}#{nav.href}" )

            = link_to nav.anchor, href, class: "c-navigation__text", data: { consolidate: nav.anchor.downcase }
