- imageAlt = "Screenshot of #{project.client}"
- imagePath = path.to_s.gsub '.html', '/main'

.l-subtle
  .c-post.c-post--adjacent
    .l-leading
      %h1.c-post__title.c-post__title--extra---MQtablet
        - if current_page.path != path
          = link_to project.title, path, class: "h-inherit"
        - else
          = project.title

      - if current_page.path != path
        - homeImagePath = path.to_s.gsub '.html', '/home'

        -# - if sitemap.find_resource_by_path("#{gulp_image_path(homeImagePath)}.png")
        -#   - imagePath = homeImagePath

        .h-align-center
          .c-post__button
            = link_to "View project", path, class: "c-button c-button--tertiary"

    .h-align-center
      - if current_page.path != path
        = link_to path, class: "c-post__mainimage" do
          = image_tag "#{gulp_image_path(imagePath + '.png')}", srcset: "#{gulp_image_path(imagePath + '@2x.png')} 2x", alt: imageAlt, class: "l-center"
      - else
        .c-post__mainimage
          = image_tag "#{gulp_image_path(imagePath + '.png')}", srcset: "#{gulp_image_path(imagePath + '@2x.png')} 2x", alt: imageAlt, class: "l-center"
