.l-subtle
  .l-grid.l-grid--baseline.l-grid---MQdesktop
    .l-grid__span--8---MQdesktop
      .c-panel
        .c-panel__body
          %h3.c-panel__title If it has a screen, we can design for it
          .c-copy.c-copy--emphasised.c-copy--large
            %p We look at who's' using your product and design for <em>them</em>. <b>We empower users</b> by removing clutter and <b>streamlining</b> their tasks, making the whole experience more <b>enjoyable</b>.
          = link_to "View our services", "#services", class: "c-button c-button--primary"
          = link_to "Look at our work", "/projects/", class: "c-button c-button--tertiary"
    .l-grid__span--4---MQdesktop
      = image_tag "#{gulp_image_path('devices.png')}", srcset: "#{gulp_image_path('devices@2x.png')} 2x", class: "l-right l-max"
