- data.site.services.each_with_index do |service, index|

  - thisID = service.title.downcase.gsub " ", "-"
  - nextID = nil

  - data.site.services.each_with_index do |service, newIndex|
    - if index+1 == newIndex
      - nextID = service.title.downcase.gsub " ", "-"

  .l-fullheight---MQdesktop{class: (index.even? ? "l-light" : "l-subtle")}
    %section.c-panel{id: thisID}
      - if defined?(service.image)
        - image_path = service.image.gsub(".png", "@2x.png")
        = image_tag gulp_image_path( service.image ), srcset: "#{gulp_image_path( image_path )} 2x", class: "o-image-right"
      .c-panel__body
        .l-grid---MQdesktop
          .l-grid__span--8---MQdesktop
            %h1.c-panel__title.c-panel__title--giant= service.title
            .c-copy.c-copy--emphasised.c-copy--large{class: (index == data.site.services.size - 1 ? "c-copy--adjacent---MQmobile" : nil)}
              :markdown
                #{service.summary}

            - if nextID
              = link_to "##{nextID}", class: "o-scroll-indicator will-animate fadeInDown", "data-scrollto" => true do
                = sprite "arrow-down"
            - else
              = link_to "Get in touch", "#contact", class: "c-button c-button--primary will-animate fadeInDown", "data-scrollto" => true

            -# .c-panel_buttons.will-animate.fadeIn{"data-wow-delay" => "1s"}
            -#   = link_to "Get in touch", "#contact", class: "c-button c-button--primary"
