include templates/_mixins

block vars
  -var bodyClass = "";
  -var title = "Simple Bit: We make intuitive interfaces";
  -var desc = "We specialise in interface design for complex apps and services. Get in touch to see how we could help you.";

doctype
html.no-js
  head
    title #{title}
    meta(name="description", content="#{desc}")
    meta(name="keywords", content="UX, UI, User Experience, Interface, Design, Information Design")
    meta(name="author" content="Craig Dennis")

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    meta(name="viewport", content="width=device-width, initial-scale=1")

    //- Apple Icons
    link(rel="apple-touch-icon", href="images/icons/icon.png")
    link(rel="apple-touch-icon", sizes="76x76", href="images/icons/icon-76.png")
    link(rel="apple-touch-icon", sizes="120x120", href="images/icons/icon-120.png")
    link(rel="apple-touch-icon", sizes="152x152", href="images/icons/icon-152.png")

    //- Favicon
    link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")

    // Windows Icons
    meta(name="application-name", content="Simple Bit")
    meta(name="msapplication-TileColor", content="#FFF")
    meta(name="msapplication-square70x70logo", content="images/icons/icon-70.png")
    meta(name="msapplication-square150x150logo", content="images/icons/icon-150.png")
    meta(name="msapplication-square310x310logo", content="images/icons/icon-310.png")

    //- Facebook tags
    meta(property="og:image", content="http://cdn.simplebitdesign.com/img/branding/icon-310.png")
    meta(property="og:url", content="http://simplebitdesign.com")
    meta(property="og:title", content="#{title}")
    meta(property="og:description", content="#{desc}")

    // build:js(app) scripts/vendor/modernizr.js
    script(src='bower_components/modernizr/modernizr.js')
    // endbuild

    // build:css({app,.tmp}) styles/main.css
    // bower:css
    link(rel="stylesheet", href="bower_components/normalize-css/normalize.css", type="text/css")
    link(rel="stylesheet", href="bower_components/animate.css/animate.css", type="text/css")
    // endbower
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic", type="text/css")
    link(rel="stylesheet", href="styles/main.css")
    // endbuild


  body(class='#{bodyClass}')
    include templates/_browseHappy

    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    block alerts

    header
      .header.js__fullscreen--target
        block header
          include templates/_logo

    block content

    block contact

    footer
      .footer.bg--dark
        .container
          block footer
            p &copy; Copyright <a class="inherit" href="http://simplebitdesign.com">Simple Bit Design LTD</a> 2014
            .social
              .social__button--twitter
                a(href="https://twitter.com/SimpleBitDesign", class="twitter-follow-button", data-show-count="false") Follow @SimpleBitDesign
              .social__button--facebook.fb-like(data-href="http://simplebitdesign.com", data-layout="button", data-action="like", data-show-faces="false" data-share="false")



            p
              small Our website uses delicious cookies to improve your experience. We'll assume you're ok with that.

    // build:js(app) scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/jquery-validation/dist/jquery.validate.js')
    script(src='bower_components/animateCSS/dist/jquery.animatecss.js')
    script(src='bower_components/svgeezy/svgeezy.js')
    // endbower

    block scripts_vendor
    // endbuild

    // build:js({app,.tmp}) scripts/main.js
    script(src='scripts/helpers.js')
    script(src='scripts/fullscreen.js')
    script(src='scripts/animations.js')
    script(src='scripts/validation.js')
    script(src='scripts/consolefix.js')
    script(src='scripts/app.js')

    //- Call scripts on a per-page basis
    block scripts
    // endbuild

    include templates/_analytics

    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
