%section#projects
  .l-subdued
    .l-inside
      .l-constrained
        .m-collection
          %h1.m-collection__title Projects

          .c-summary
            .c-media.c-media--stacked-mqmobile
              %h2.c-summary__title Recurrency
              .c-media__body
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eum blanditiis sapiente odio excepturi, hic quam, vero non similique expedita rerum quo perspiciatis dolor a doloremque cupiditate, sed libero et.
              .c-media__figure
                %figure
                  = image_tag "http://placehold.it/300", srcset: "http://placehold.it/600 2x", alt: "Recurrency screenshot", class: "l-fullwidth-mqmobile"
            = link_to "Find out more", "#", class: "o-button o-button--secondary"

          %hr/

          .c-summary
            .c-media.c-media--stacked-mqmobile
              %h2.c-summary__title MegaMac
              .c-media__body
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eum blanditiis sapiente odio excepturi, hic quam, vero non similique expedita rerum quo perspiciatis dolor a doloremque cupiditate, sed libero et.
              .c-media__figure
                %figure
                  = image_tag "http://placehold.it/300", srcset: "http://placehold.it/600 2x", alt: "Recurrency screenshot", class: "l-fullwidth-mqmobile"
            = link_to "Find out more", "#", class: "o-button o-button--secondary"

          %hr/

          .c-summary
            .c-media.c-media--stacked-mqmobile
              %h2.c-summary__title Rail Modeller
              .c-media__body
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eum blanditiis sapiente odio excepturi, hic quam, vero non similique expedita rerum quo perspiciatis dolor a doloremque cupiditate, sed libero et.
              .c-media__figure
                %figure
                  = image_tag "http://placehold.it/300", srcset: "http://placehold.it/600 2x", alt: "Recurrency screenshot", class: "l-fullwidth-mqmobile"
            = link_to "Find out more", "#", class: "o-button o-button--secondary"