---
title: Front End Development
intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae praesentium veniam nobis libero sint maxime expedita mollitia dolorum id soluta. Necessitatibus atque veniam illum eos tenetur fugit a maiores iste!
---

- content_for :header do
  = partial "partials/page-header", locals: { title: current_page.data.title, intro: current_page.data.intro}

.l-constrained

  - if posts
    .c-section
      = partial "partials/related-articles", locals: { category: "ux"}

  .c-section
    = partial "partials/help"

  .c-section
    = partial "partials/twitter"

  .c-section
    = partial "partials/contact"
