-# - content_for :header do
.l-constrained
  .c-section
    %header#top
      .l-highlight
        .c-section__overlay
          .o-embed.o-embed--16x9
            %video{autoplay: true, loop: true, poster: "assets/images/049955897-web-designer-working-website-l.jpg"}
              %source{src: "assets/video/049955897-web-designer-working-website-l.mp4", type: "video/mp4"}

        .c-panel.c-panel--center
          .l-blackhole
            .h-align-center
              = ui_svg "simple-bit-logo", 72, class: "o-icon o-logo"
              %h2.o-title= data.site.name
              %h1.o-subtitle= data.site.description

    %section#services
      .l-light
        .l-middle---MQdesktop
          %header
            %h1.o-hub-text Services
        .l-grid.l-grid--lines.l-grid---MQdesktop
          .l-grid__span--6---MQdesktop
            .c-panel.c-panel--has-buttons
              .c-panel__body
                %h2.c-panel__title User Interface Design
                .c-copy.c-copy--emphasised
                  %p The user interface is the window through which the world experiences your website, application, or system. A powerful user interface bridges the distance between the human brain and the digital product.
              .c-panel__buttons
                = link_to "How we approach UI design", "#", class: "c-button c-button--primary c-button--block---MQupto-tablet"
                = link_to "Articles", "#", class: "c-button c-button--secondary c-button--block---MQupto-tablet"

          .l-grid__span--6---MQdesktop
            .c-panel.c-panel--has-buttons
              .c-panel__body
                %h2.c-panel__title Information Architecture
                .c-copy.c-copy--emphasised
                  %p IA focuses on organising, structuring, and labeling content in a predictable way that your audience will understand; helping people find information and complete tasks as effectively as possible.
              .c-panel__buttons
                = link_to "Find out more about IA", "#", class: "c-button c-button--primary c-button--block---MQupto-tablet"
                = link_to "Articles", "#", class: "c-button c-button--secondary c-button--block---MQupto-tablet"

          .l-grid__span--6---MQdesktop
            .c-panel.c-panel--has-buttons
              .c-panel__body
                %h2.c-panel__title Front End Development
                .c-copy.c-copy--emphasised
                  %p Speed is a feature. But also, now, an expectation. Our code follows best-practice techniques for performance across mutiple device sizes. Our modular approach to development allows the code to scale with your product.
              .c-panel__buttons
                = link_to "Our code best-practices", "#", class: "c-button c-button--primary c-button--block---MQupto-tablet"
                = link_to "Articles", "#", class: "c-button c-button--secondary c-button--block---MQupto-tablet"

          .l-grid__span--6---MQdesktop
            .c-panel.c-panel--has-buttons
              .c-panel__body
                %h2.c-panel__title User Experience Design
                .c-copy.c-copy--emphasised
                  %p User experience design (UXD, UED or XD) is the process of enhancing user satisfaction by improving the usability, accessibility, and pleasure provided in the interaction between the user and the product.
              .c-panel__buttons
                = link_to "How we approach UI design", "#", class: "c-button c-button--primary c-button--block---MQupto-tablet"
                = link_to "Articles", "#", class: "c-button c-button--secondary c-button--block---MQupto-tablet"
  
  .c-section.l-dark
    %aside#how-we-can-help
      .c-panel.c-panel--center
        .c-panel__body
          %h3.c-panel__title Find out how can we help
          .c-copy.c-copy--emphasised
            .c-copy__leading
              %p We have experience working with startups, agencies and large, multi-national companies; working well with in-house teams and independently.
          .c-panel__buttons
            = link_to "Get in touch", "#", class: "c-button c-button--giant---MQtablet c-button--primary"

  .c-section
    .l-light
      %section#clients
        .l-grid.l-grid--lines.l-grid---MQdesktop
          .l-grid__span--6---MQdesktop
            .c-panel.c-panel--upsize
              .c-panel__body
                %h1.c-panel__title.c-panel__title--giant.t-primary We work with  amazing brands
                .c-copy.c-copy--emphasised
                  %p Our work is seen by millions of people. That’s a lot of pressure. Whether it’s a checkout flow for an e-commerce site or the most efficient way to process recruitment candidates; we prototype, test and iterate to validate our ideas, ensuring we’re on the right track.
          .l-grid__span--6---MQdesktop
            .l-grid.l-grid---MQupto-desktop.l-grid---MQdesktop.l-grid--lines
              .l-grid__span--3---MQupto-desktop.l-grid__span--6---MQdesktop
                .l-inner.l-vcenter
                  = image_tag "http://placehold.it/150", srcset: "http://placehold.it/300 2x", alt: "Bond International Software", class: "l-center"
              .l-grid__span--3---MQupto-desktop.l-grid__span--6---MQdesktop
                .l-inner.l-vcenter
                  = image_tag "http://placehold.it/150", srcset: "http://placehold.it/300 2x", alt: "MEGAMAC", class: "l-center"
              .l-grid__span--3---MQupto-desktop.l-grid__span--6---MQdesktop
                .l-inner.l-vcenter
                  = image_tag "http://placehold.it/150", srcset: "http://placehold.it/300 2x", alt: "BBC", class: "l-center"
              .l-grid__span--3---MQupto-desktop.l-grid__span--6---MQdesktop
                .l-inner.l-vcenter
                  = image_tag "http://placehold.it/150", srcset: "http://placehold.it/300 2x", alt: "Smashing Magazine", class: "l-center"
    .l-subtle
      .l-grid.l-grid--baseline.l-grid---MQdesktop
        .l-grid__span--8---MQdesktop
          .c-panel
            .c-panel__body
              %h3.c-panel__title If it has a screen, we can design for it
              .c-copy.c-copy--emphasised
                %p The principles of design are fundamental, tools and technology are the things that change. Whether you have a SaaS application, website, or app &mdash; we can use our expertise to help achieve your goals.
              = link_to "Get in touch", "#contact", class: "c-button c-button--primary"
        .l-grid__span--4---MQdesktop
          = image_tag "devices", srcset: "devices@2x.png 2x", class: "l-right"

  .c-section
    .l-light
      %section#articles
        .l-grid.l-grid--lines.l-grid---MQdesktop

          .l-grid__span--6---MQdesktop
            .c-panel
              .c-panel__body
                %h3.c-panel__title.c-panel__title--small Web design isn"t dead
                .c-copy.c-copy--emphasised
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni velit beatae consequatur natus accusantium libero porro!
                = link_to "Continue reading", "#", class: "c-button c-button--primary"

          .l-grid__span--6---MQdesktop
            .c-panel.c-panel--upsize
              .c-panel__body
                %h3.c-panel__title.c-panel__title--small Web design isn"t dead
                .c-copy.c-copy--emphasised
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni velit beatae consequatur natus accusantium libero porro!
                = link_to "Continue reading", "#", class: "c-button c-button--primary"

  .c-section
    = partial 'partials/twitter'