- content_for :header do
  .l-highlight
    .c-section__overlay
      .o-embed.o-embed--16x9
        %video{role: "presentation", autoplay: true, loop: true, poster: gulp_image_path("bg.jpg")}
          %source{src: "video/bg.mp4", type: "video/mp4"}

    .c-panel.c-panel--center
      .l-blackhole
        .h-align-center
          %h1.o-title= data.site.description
          %p.o-subtitle= data.home.phrases.sample

.l-constrained
  .c-section
    = partial "partials/screen-design"
    = partial "partials/clients"

  - if projects
    - projects[0...2].each do |project|
      .c-section
        = partial "partials/project-summary", locals: { project: project.data, path: project.path }

  .c-section
    = partial "partials/help"

  .c-section
    = partial "partials/services"

  .c-section
    = partial "partials/twitter"

  - if posts
    .c-section
      = partial "partials/related-articles"

  .c-section
    = partial "partials/location"

  .c-section
    = partial "partials/contact"
