-# - content_for :header do
.l-constrained
  .c-section
    %header#top
      .l-highlight
        .c-section__overlay
          .o-embed.o-embed--16x9
            %video{autoplay: true, loop: true, poster: "assets/images/bg.png"}
              %source{src: "#{asset_url('assets/video/bg.mp4')}", type: "video/mp4"}

        .l-navigation
          %nav
            %button#navigationbutton.o-navigation.o-navigation--light.c-button.c-button--seamless.c-button--next{type: "button", data: {toggle: "navigation"}}
              .h-accessible Menu
              = ui_svg 'menu', 28
            %ul#navigation.c-navigation.c-navigation--light
              %li
                = link_to "Home", "#", class: "c-navigation__text"
              %li
                = link_to "About", "#", class: "c-navigation__text"
              %li
                = link_to "Articles", "#", class: "c-navigation__text"
              %li
                = link_to "Services", "#", class: "c-navigation__text"
              %li
                = link_to "Contact", "#contact", class: "c-navigation__text"

        .c-panel.c-panel--center
          .l-blackhole
            .h-align-center
              = ui_svg "simple-bit-logo", 72, class: "o-icon o-logo"
              %h2.o-title= data.site.name
              %h1.o-subtitle= data.site.description

    = partial "partials/services"
  
  .c-section
    = partial "partials/help"

  .c-section
    = partial "partials/clients"
    = partial "partials/screen-design"

  - if blog.articles
    .c-section
      = partial "partials/related-articles"

  .c-section
    = partial "partials/twitter"

  .c-section
    = partial "partials/location"

  .c-section
    = partial "partials/contact"


- content_for :scripts do  
  -# Test for mix-blend-mode
  :javascript
    if('CSS' in window && 'supports' in window.CSS) {
      var support = window.CSS.supports('mix-blend-mode','multiply');
          support = support?'mixblendmode':'no-mixblendmode';
          $('html').addClass(support);
    }