- content_for :scripts do
  :javascript
    if('CSS' in window && 'supports' in window.CSS) {
      var support = window.CSS.supports('mix-blend-mode','multiply');
          support = support?'mix-blend-mode':'no-mix-blend-mode';
          $('html').addClass(support);
    }

-# - content_for :header do
.l-constrained
  .c-section
    %header#top
      .l-highlight
        .c-section__overlay
          .o-embed.o-embed--16x9
            %video{autoplay: true, loop: true, poster: "assets/images/049955897-web-designer-working-website-l.jpg"}
              %source{src: "assets/video/049955897-web-designer-working-website-l.mp4", type: "video/mp4"}

        .c-panel.c-panel--center
          .l-blackhole
            .h-align-center
              = ui_svg "simple-bit-logo", 72, class: "o-icon o-logo"
              %h2.o-title= data.site.name
              %h1.o-subtitle= data.site.description

    = partial "partials/services"
  
  .c-section
    = partial "partials/help"

  .c-section
    = partial "partials/clients"
    = partial "partials/screen-design"

  .c-section
    = partial "partials/related-articles"

  .c-section
    = partial "partials/twitter"

  .c-section
    = partial "partials/location"

  .c-section
    = partial "partials/contact"